body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/assents/image.png);
    background-repeat: no-repeat;
    background-size: 100%;
}